<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- JQuery -->
        <script src="/static/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link href="/static/bootstrap.min.css" rel="stylesheet"/>
        <!-- Bootstrap JS -->
        <script src="/static/bootstrap.min.js"></script>
        <!-- CSS -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <!-- JavaScript -->
        <script src="/static/scripts.js"></script>

        <title>Legal Gibberish Generator</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1>Legal Gibberish Generator</h1>
                <h3>Or, How I Learned to Give Up on CS and Love the Pursuit of Law School</h3>
            </div>
            <br>
            <div class="row">
                <div class="center-block">
                    <h5>Adjust how many words are generated (100 to 1000):</h5>
                    <input type="range" id="num_words" min="100" max="1000">
                    <h5>Specify a word to begin the text; note not all words may function (as some words are not in the training data).
                        Hint: lower case generally works better.</h5>
                    <input type="text" id="word">
                </div>
                <br>
            </div>
            <div class="row">
                <div class="center-block">
                    <button class="btn btn-danger btn-xl" id="check-button" role="button">Generate</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="center-block">
                    <div id="check-result" style="font-size: -webkit-xxx-large">
                        Click the button to generate legal gobbledygook.
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="text-muted">
                    Made by <a href="https://sean-walker.github.io" target="_blank">Sean Walker</a> for <a href="https://yalelawtech.org/cpt/" target="_blank">Yale's CPSC 185</a>. Supreme Court NLP corpus from <a href="https://confluence.cornell.edu/display/llresearch/Supreme+Court+Dialogs+Corpus" target="_blank">Cornell</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
